{% trans_default_domain 'FOSUserBundle' %}
<!-- Section -->
<section class="md-section" style="background-color:#f7f7f7;">
    <div class="container">

        <div class="row">

            {#<div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">#}

                <!-- title-01 -->
                <div class=" col-md-12 title-01 title-01__style-04">
                    <h2 class="title-01__title">Twoje dane:</h2>
                </div>
                <!-- End / title-01 -->



                <div class="col-sm">
                    <div class="row">
                        <div class="col-6 text-right"><b class="">Imię:</b></div>
                        <div class="col-6 text-left">{{ user.name }}</div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right"><b class="">Login:</b></div>
                        <div class="col-6 text-left">{{ user.username }}</div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right"><b class="">E-mail:</b></div>
                        <div class="col-6 text-left">{{ user.email }}</div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right"><b class="">Miasto:</b></div>
                        <div class="col-6 text-left">{{ user.city == '' ? 'brak danych' : user.city }}</div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right"><b class="">Województwo:</b></div>
                        <div class="col-6 text-left">{{ user.zone }}</div>
                    </div>
                </div>
    
                <div class="col-sm">
                    <div class="row">
                        <div class="col-6 text-right"><b class="">Nazwisko:</b></div>
                        <div class="col-6 text-left">{{ user.surname }}</div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right"><b class="">Telefon:</b></div>
                        <div class="col-6 text-left">{{ user.phone == '' ? 'brak danych' : user.phone }}</div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right"><b class="">Ukończona uczelnia:</b></div>
                        <div class="col-6 text-left">{{ user.graduation == '' ? 'brak danych' : user.graduation }}</div>
                    </div>
                    
                    <div class="row">
                        <div class="col-6 text-right"><b class="">Tytuł zawodowy:</b></div>
                        <div class="col-6 text-left">{{ user.degree }}</div>
                    </div>

                    <div class="row">
                        <div class="col-6 text-right"><b class=""> Konto:</b></div>
                        <div class="col-6 text-left">
                            {% if is_granted('ROLE_VIP') %}
                                VIP, ważne do {{ app.user.vipTo|localizeddate('long', 'none', locale) }}
                            {% else %}
                                Standard. <a href="{{ path('memberPlans') }}">Zostań VIPem</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {#</div>#}
        </div>

        <hr />

        <div class="row">

            <div class="col-sm-6 col-md-6 col-lg-3 ">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">

                </div><!-- End / iconbox -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 ">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                    <div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div><a class="btn btn-primary btn-outline btn-w180" href="{{ path('fos_user_profile_edit') }}">Zmień swoje dane</a></div>
                        </div>
                    </div>
                </div><!-- End / iconbox -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 ">

                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">
                    <div>
                        <div class="col-md-6 col-lg-6 col-xl-6">
                            <div><a class="btn btn-primary btn-outline btn-w180" href="{{ path('fos_user_change_password') }}">Zmień hasło</a></div>
                        </div><!-- End / pricing -->
                    </div>
                </div><!-- End / iconbox -->

            </div>

            <div class="col-sm-6 col-md-6 col-lg-3 ">
                <!-- iconbox -->
                <div class="iconbox iconbox__style-02">

                </div><!-- End / iconbox -->
            </div>
        </div>

    </div>
</section>
<!-- End / Section -->

