<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Archi Info{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <!-- Fonts-->
        {#<link rel="stylesheet" type="text/css" href="{{ asset('assets/fonts/fontawesome/font-awesome.min.css') }}">#}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/fonts/themify-icons/themify-icons.css') }}">
        <!-- Vendors-->
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendors/bootstrap4/bootstrap-grid.min.css') }}">
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendors/magnific-popup/magnific-popup.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendors/owl.carousel/owl.carousel.css') }}">
        <script type="text/javascript" src="{{ asset('assets/vendors/jquery/jquery.js') }}"></script>
        <!-- <link rel="stylesheet" type="text/css" href="assets/vendors/bootstrap4/bootstrap-grid.min.css"> -->
        <!-- <link rel="stylesheet" type="text/css" href="assets/vendors/bootstrap4/bootstrap-grid.min.css"> -->
        <!-- App & fonts-->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&amp;amp;subset=latin-ext">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/custom.css') }}">
        <!--[if lt IE 9]><!-->
            <script src="{{ asset('assets/js/html5shiv.js') }}"></script>
        <![endif]-->
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="page-wrap">

            <!-- header -->
            <header class="header {{ app.request.attributes.get('_route') == 'homepage' ? 'header__style-02' : '' }}">
                <div class="container">
                    <div class="header__logo"><a href="{{ path('homepage') }}"><img src="{{ asset('assets/img/logo.png') }}" alt=""/></a></div>
                    <div class="header__toogleGroup">
                        <div class="header__chooseLanguage">

                            <!-- dropdown -->
                            {% if is_granted("ROLE_USER") %}
                                {% include("layout/menuAuthenticated.html.twig") %}
                            {% else %}
                                {% include("layout/menuAnonymous.html.twig") %}
                            {% endif %}
                            <!-- End / dropdown -->

                        </div>
                        <div class="search-form">
                            <div class="search-form__toggle"><i class="ti-search"></i></div>
                            <div class="search-form__form">

                                <!-- form-search -->
                                <div class="form-search">
                                    <form>
                                        <input class="form-control" type="text" placeholder="Wciśnij enter, aby wyszukać"/>
                                    </form>
                                </div><!-- End / form-search -->

                            </div>
                        </div>
                    </div>

                    <!-- consult-nav -->
                    <nav class="consult-nav">

                        <!-- consult-menu -->
                        <ul class="consult-menu">
                            <li {{ app.request.attributes.get('_route') == 'homepage' ? 'class="current-menu-item"' : '' }}>
                                <a href="{{ path('homepage') }}">Strona główna</a>
                            </li>
                            <li {{ app.request.attributes.get('_route') == 'lawbook' ? 'class="current-menu-item"' : '' }}>
                                <a href="{{ path('lawbook') }}">Ustawy</a>
                            </li>
                            <li class="menu-item-has-children {{ app.request.attributes.get('_route') == 'verbalQuestions' ? 'current-menu-item' : '' }} {{ app.request.attributes.get('_route') == 'writtenQuestions' ? 'current-menu-item' : '' }}"><a href="#">Pytania</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ path('verbalQuestions') }}">Ustne</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('writtenQuestions') }}">Pisemne</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="{% if app.request.attributes.get('_route') == "" %} current-menu-item {% elseif app.request.attributes.get('_route') == "" %} current-menu-item {% elseif app.request.attributes.get('_route') == "" %} current-menu-item {% endif %}">
                                <a href="#">Praktyka</a>
                                <ul class="sub-menu">
                                    <li>
                                        <a href="{{ path('practice_office') }}">W biurze projektowym</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('practice_onBuild') }}">Na Budowie</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('practice_contracts') }}">Umowy</a>
                                    </li>
                                </ul>
                            </li>
                            <li {{ app.request.attributes.get('_route') == 'blog' ? 'class="current-menu-item"' : '' }}>
                                <a href="{{ path('blog') }}">Blog</a>
                            </li>
                        </ul><!-- consult-menu -->

                        <div class="navbar-toggle"><span></span><span></span><span></span></div>
                    </nav><!-- End / consult-nav -->

                </div>
            </header><!-- End / header -->

            <!-- Content-->
            <div class="md-content">
                {% block body %}{% endblock %}
            </div>
            <!-- End / Content-->


            <!-- footer -->
            <footer class="footer">
                <div class="footer__main">
                    <div class="row row-eq-height">
                        <div class="col-8 col-sm-7 col-md-9 col-lg-3 ">
                            <div class="footer__item"><a class="consult_logo" href="#"><img src="{{ asset('assets/img/logo.png') }}" alt=""/></a>
                                {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt.</p>#}
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                            <div class="footer__item">

                                <!-- widget-text__widget -->
                                <section class="widget-text__widget widget">
                                    <div class="widget-text__content">
                                        <ul>
                                            <li><a href="{{ path('termsOfServices') }}">Regulamin </a></li>
                                            <li><a href="{{ path('privacyPolicy') }}">Polityka prywatności </a></li>
                                        </ul>
                                    </div>
                                </section><!-- End / widget-text__widget -->

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
                            <div class="footer__item">

                                <!-- widget-text__widget -->
                                <section class="widget-text__widget widget">
                                    <div class="widget-text__content">
                                        <ul>
                                            <li><a href="{{ path('prices') }}">Cennik </a></li>
                                            <li><a href="{{ path('contact') }}">Kontakt</a></li>
                                        </ul>
                                    </div>
                                </section><!-- End / widget-text__widget -->

                            </div>
                        </div>
                        <div class="col-md-4 col-lg-2 col-xl-2 ">
                            <div class="footer__item">

                                {{ render(controller('AppBundle:Default:newsletterRecipientAdd')) }}
                                {#<!-- form-sub -->#}
                                {#<div class="form-sub">#}
                                    {#<h4 class="form-sub__title">Newsletter</h4>#}
                                    {#<form class="form-sub__form">#}
                                        {#<div class="form-item">#}
                                            {#<input class="form-control" type="email" placeholder="Podaj twój E-mail"/>#}
                                        {#</div>#}
                                        {#<div class="form-submit">#}
                                            {#<button class="form-button" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>#}
                                        {#</div>#}
                                    {#</form>#}
                                {#</div><!-- End / form-sub -->#}

                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2  consult_backToTop">
                            <div class="footer__item"><a href="#" id="back-to-top"> <i class="fa fa-angle-up" aria-hidden="true"> </i><span>powrót na górę</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright">{{ "now"|date("Y") }} &copy; Copyright archi-info.pl. All rights Reserved.</div>
            </footer><!-- End / footer -->

            <!-- Vendors-->

            <script type="text/javascript" src="{{ asset('assets/vendors/imagesloaded/imagesloaded.pkgd.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/isotope-layout/isotope.pkgd.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/jquery.countdown/jquery.countdown.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/jquery.countTo/jquery.countTo.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/jquery.countUp/jquery.countup.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/jquery.matchHeight/jquery.matchHeight.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/jquery.mb.ytplayer/jquery.mb.YTPlayer.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/masonry-layout/masonry.pkgd.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/owl.carousel/owl.carousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/jquery.waypoints/jquery.waypoints.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/menu/menu.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendors/smoothscroll/SmoothScroll.min.js') }}"></script>
            <!-- App-->
            <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
