{% extends 'base.html.twig' %}

{% block body %}
    <!-- slider -->
    <div class="slider">

        <!-- carousel__element owl-carousel -->
        <div class="carousel__element owl-carousel" data-options='{"items":1,"loop":true,"dots":false,"nav":false,"margin":0, "autoplay": true, "autoplayTimeout": 4000}'>

            {% for baner in baners %}
                <div class="slider__item" style="background-image: url('{{ asset(baner_images ~ baner.image) }}'); background-size: cover;">
                    <div class="md-tb">
                        <div class="md-tb__cell">
                            <div class="slider__content">
                                <div class="container">
                                    <h2>{{ baner.title }}</h2>
                                    <p>{{ baner.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div><!-- End / carousel__element owl-carousel -->

    </div><!-- End / slider -->

    <!-- Service-->

    <!-- Section -->
    <section class="md-section" style="background-color:#f7f7f7;padding:0;">
        <div class="container">
            {#<div class="textbox-group">#}
                <div class="row">
                    <div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
                        <h2 class="page-title__title">Ostatnie wpisy na blogu</h2>
                    </div>
                    {% for blog in blogs %}
                        <!-- layout-blog sidebar-left -->
                        <div class="layout-blog sidebar-left">
                            <div class="layout-blog__content">

                                <!--  -->
                                <div class="post-01__style-02 md-text-center">
                                    <div class="post-01__media"><a href="{{ path('blog_details', {"id":blog.id, "urlTitle": blog.urlTitle}) }}"><img src="{{ asset(blog_images ~ blog.image) }}" alt=""/></a>
                                    </div>
                                    <div>
                                        {#<ul class="post-01__categories">#}
                                        {#<li><a href="#">Business</a></li>#}
                                        {#</ul>#}
                                        <h2 class="post-01__title"><a href="{{ path('blog_details', {"id":blog.id, "urlTitle": blog.urlTitle}) }}">{{ blog.title }}</a></h2>
                                        <div class="post-01__time">{{ blog.createdAt|localizeddate('long', 'none', locale) }}</div>
                                        <div class="post-01__note"></div>
                                    </div>
                                </div><!-- End /  -->

                            </div>
                        </div>
                    {% endfor %}
                </div>
            {#</div>#}
        </div>
    </section>
    <!-- End / Section -->

    {#{{ ad1.content | raw }}#}
    {#{{ ad2.content | raw }}#}
    {#{{ ad3.content | raw }}#}
{% endblock %}

{% block stylesheets %}

{% endblock %}
