{% extends 'base.html.twig' %}

{% block body %}
<!-- Content-->
<div class="md-content">

    <!-- page-title -->
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-0 offset-sm-0 offset-md-0 offset-lg-2 ">
                    <h2 class="page-title__title">Nasze wpisy</h2>

                    <!--  -->
                    <nav><a class="breadcrumb__item" href="{{ path('homepage') }}">Strona główna</a><span class="breadcrumb__item active">Blog</span>
                    </nav><!-- End /  -->

                </div>
            </div>
        </div>
    </div><!-- End / page-title -->


    <!-- Section -->
    <section class="md-section">
        <div class="container">

            {% for blog in blogs %}
            <!-- layout-blog sidebar-left -->
            <div class="layout-blog sidebar-left">
                <div class="layout-blog__content">

                    <!--  -->
                    <div class="post-01__style-02 md-text-center">
                        <div class="post-01__media"><a href="{{ path('blog_details', {"id":blog.id, "urlTitle": blog.urlTitle}) }}"><img src="{{ asset(blog_images ~ blog.image) }}" alt=""/></a>
                        </div>
                        <div>
                            {#<ul class="post-01__categories">#}
                                {#<li><a href="#">Business</a></li>#}
                            {#</ul>#}
                            <h2 class="post-01__title"><a href="{{ path('blog_details', {"id":blog.id, "urlTitle": blog.urlTitle}) }}">{{ blog.title }}</a></h2>
                            <div class="post-01__time">{{ blog.createdAt|localizeddate('long', 'none', locale) }}</div>
                            <div class="post-01__note"></div>
                        </div>
                    </div><!-- End /  -->

                </div>
            </div>
            {% endfor %}
        </div>
    </section>

</div>
<!-- End / Content-->
{% endblock %}

{% block stylesheets %}

{% endblock %}
