{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="consult-form consult-form--02 js-consult-form__content">
        <!-- form-01 -->
        <div class="form-01" style="padding:60px;">

            <h2 class="form-01__title">Zmiana Hasła:</h2>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                <div>
                    <label>Obecne hasło</label>
                    {{ form_widget(form.current_password) }}
                </div>
                <div>
                    <label>Nowe hasło</label>
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div>
                    <label>Powtórz nowe hasło</label>
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Zmień hasło" />
                </div>
            {{ form_end(form) }}

        </div><!-- End / form-01 -->
    </div>
</div>