{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content-->
    <div class="md-content">

        <!-- Section -->
        <section class="md-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">

                        <!-- title-01 -->
                        {#<div class="title-01 title-01__style-04">#}
                            {#Ustawy#}
                        {#</div>#}
                        {#<div class="post-02__media"><img src="{{ asset('assets/img/judge-court-hammer-header.jpg') }}" alt=""/></div>#}
                        {#<div class="post-02__body">#}
                        <!-- End / title-01 -->

                        {% for lawbookCategory in lawbookCategories %}

                            <div class="title-01 title-01__style-02">
                                <h2 class="title-01__title">{{ lawbookCategory.name }}</h2>

                                {#<ul class="list-style-none">#}
                                {% for lawbook in lawbookCategory.lawbooks %}
                                    <div class="{{ lawbook.isImportant ? 'lawbook-box-important' : 'question-box' }}">
                                        <p>{{ lawbook.title }}</p>
                                        <a href="#">{{ lawbook.name }}</a>

                                        {% if is_granted("ROLE_VIP") %}
                                            <div>
                                                <a target="_blank" href="{{ path('lawbookContentT', {id: lawbook.id}) }}" class="">Wersja elektroniczna</a>
                                                <a target="_blank" href="{{ path('download_lawbook_file', {name: lawbook.file}) }}" class="">PDF do pobrania</a>
                                                <a class="showArticles pointer" data-id="{{ lawbook.id }}">Ważne artykuły</a>
                                            </div>
                                            <p class="hidden" id="{{ lawbook.id }}">{{ lawbook.articles }}</p>
                                        {% endif %}
                                    </div>
                                    {#<li><a href="#test-popup" class="open-popup-link lawbook" data-url="{{ path('lawbookContent', {'id': lawbook.id}) }}">{{ lawbook.title }}</a></li>#}
                                {% endfor %}
                                {#</ul>#}
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- End / Section -->

    </div>
    <!-- End / Content-->



<div id="test-popup" class="white-popup mfp-hide">
    <div id="lawbookContent"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(".showArticles").click(function () {
            var id = $(this).data("id");
            $("#" + id).slideToggle( "slow", function() {
                // Animation complete.
            });
        })
        $('.open-popup-link').magnificPopup({
            type:'inline',
            closeBtnInside:true,
            midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
        });
        
        $('.lawbook').click(function () {
            $('#lawbookContent').html('<div class="text-center"><img src="{{ asset('assets/img/loader.gif') }}" class="img-fluid mx-auto d-block" /></div>');
            var url = $(this).data("url");
            $.ajax({
                url: url,
                method: "GET",
                data: false,
                success: function(results){
                    $('#lawbookContent').html(results);
                }
            })
        })
    </script>
{% endblock %}
